doctype html
html
    head
        meta(charset='UTF-8')
        title= "TeamDrive - Kaderübersicht"
        link(rel='icon', href='/img/ico.ico')
        link(rel='stylesheet', href='/css/admin.css', type='text/css')
        script(src='/script/jade.js')
        script(src='/faye/client.js')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')

    body
        #header_content
            .logo
                a(href='/home/'+person._id)
                    img(width='50', height='50', src='/img/LOGO1.png', alt='Logo')
            .lname
                h2 TeamDrive
            .links
                a.logout(href='/') Abmelden 
                a.user= person.per_vorname+" "+person.per_name
    
            #heading
                h2= person.per_mannschaft
                h1 Kaderübersicht
                
                .box_content
                    form#anlegen(method='get', action='/home/'+person._id+'/new_player')
                        input#id(name='id', type='hidden', value=person._id)
                        input.anlegen(value="Spieler anlegen", type="submit")
                    fieldset
                        table.spielerverzeichnis
                            thead
                                th.col_vorname Vorname
                                th.col_name Name
                                th.col_status Status
                                th.col_mannschaft Mannschaft
                                th.col_delete 
                            tbody
                                each player in players
                                    tr.spieler-entry
                                        td.col_vorname= player.per_vorname
                                        td.col_name= player.per_name
                                        td.col_status= player.per_status
                                        td.col_mannschaft= player.per_mannschaft
                                        td.col_delete
                                            form#loeschen(method='post', action='/deletePlayer')
                                                input#id(name='id', type='hidden', value=person._id)
                                                input#name(name='spieler', type='hidden', value=player.per_benutzer)
                                                input.loeschen(value="Löschen", type="submit")